Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/InfinityBladeGrassLands/Environments/Plains/Env_Plains_Terrain/Textures/T_Road02_D.uasset
*.uasset
